/*@import "mocha.css"; */
@import "gruvbox.css";

* {
    font-family: "JetBrainsMonoNerdFont";
    font-size: 18px;
    min-height: 0;
}

#waybar {
    background:transparent;
    color: @fg;
    margin: 2px;
    opacity: 1;
}

#workspaces {
    margin: 4px;
    background-color: @bg;
    margin-left: 1rem;
    border:4px solid @yellow;
    border-radius:10px;
}

#workspaces button {
    color: @fg;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @yellow;
    background-color: @overlay0;
}

#workspaces button:hover {
    color: @red;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#power-profiles-daemon{
    background-color: @bg;
    padding: 0.5rem;
    margin: 6px;
    color: @fg;
    border:4px solid @yellow;
    border-radius:10px;
}

#clock {
    color: @fg;
    margin-right: 1rem;
}

#battery {
    color: @green;
    padding-right: 1rem;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @fg;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: @purple;
}
#tray {
    margin-right: 1rem;
}
